h1 {
  color: green;
  font-style: italic;
  font-size: 16px;
}

.error {
  color: green;
  font-size: 20px;
  border-style: solid;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
  background-color: rgb(214, 207, 207);
}
